.pricingTable {
  border:1px solid #dbdbdb;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.14);
  text-align:center;
  transition:all 0.4s ease-in-out 0s;
}

.pricingTable-header {
  padding:25px 10px;
  background-color:#fff;
}

.pricingTable .pricingTable-header h3 {
  font-size:21px;
  letter-spacing:2px;
  color:#000;
  text-transform:uppercase;
  margin-top:10px;
}

.pricingTable-header span {
  display:block;
  font-size:12px;
}

.pricing-plans {
  padding:25px 0;
}

.price-value {
  f